<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FamaWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegistrazioneServlet</display-name>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <servlet-class>fama.servlets.RegistrazioneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrazioneServlet</servlet-name>
    <url-pattern>/RegistrazioneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginUtenteServlet</display-name>
    <servlet-name>LoginUtenteServlet</servlet-name>
    <servlet-class>fama.servlets.LoginUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginUtenteServlet</servlet-name>
    <url-pattern>/LoginUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutUtenteServlet</display-name>
    <servlet-name>LogoutUtenteServlet</servlet-name>
    <servlet-class>fama.servlets.LogoutUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutUtenteServlet</servlet-name>
    <url-pattern>/LogoutUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUtenteServlet</display-name>
    <servlet-name>RicercaUtenteServlet</servlet-name>
    <servlet-class>fama.servlets.RicercaUtenteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaUtenteServlet</servlet-name>
    <url-pattern>/RicercaUtenteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaAmiciziaServlet</display-name>
    <servlet-name>RichiestaAmiciziaServlet</servlet-name>
    <servlet-class>fama.servlets.RichiestaAmiciziaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaAmiciziaServlet</servlet-name>
    <url-pattern>/RichiestaAmiciziaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RichiestaAiutoServlet</display-name>
    <servlet-name>RichiestaAiutoServlet</servlet-name>
    <servlet-class>fama.servlets.RichiestaAiutoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RichiestaAiutoServlet</servlet-name>
    <url-pattern>/RichiestaAiutoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUtenteDaOspiteServlet</display-name>
    <servlet-name>RicercaUtenteDaOspiteServlet</servlet-name>
    <servlet-class>fama.servlets.RicercaUtenteDaOspiteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaUtenteDaOspiteServlet</servlet-name>
    <url-pattern>/RicercaUtenteDaOspiteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginAdminServlet</display-name>
    <servlet-name>LoginAdminServlet</servlet-name>
    <servlet-class>fama.servlets.LoginAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginAdminServlet</servlet-name>
    <url-pattern>/LoginAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RicercaUtenteAdminServlet</display-name>
    <servlet-name>RicercaUtenteAdminServlet</servlet-name>
    <servlet-class>fama.servlets.RicercaUtenteAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RicercaUtenteAdminServlet</servlet-name>
    <url-pattern>/RicercaUtenteAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DatabaseUtentiServlet</display-name>
    <servlet-name>DatabaseUtentiServlet</servlet-name>
    <servlet-class>fama.servlets.DatabaseUtentiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DatabaseUtentiServlet</servlet-name>
    <url-pattern>/DatabaseUtentiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuoveAbilitaAdminServlet</display-name>
    <servlet-name>NuoveAbilitaAdminServlet</servlet-name>
    <servlet-class>fama.servlets.NuoveAbilitaAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuoveAbilitaAdminServlet</servlet-name>
    <url-pattern>/NuoveAbilitaAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NuovaAbilitaServlet</display-name>
    <servlet-name>NuovaAbilitaServlet</servlet-name>
    <servlet-class>fama.servlets.NuovaAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NuovaAbilitaServlet</servlet-name>
    <url-pattern>/NuovaAbilitaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InserisciNuoveAbilitaAdminServlet</display-name>
    <servlet-name>InserisciNuoveAbilitaAdminServlet</servlet-name>
    <servlet-class>fama.servlets.InserisciNuoveAbilitaAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InserisciNuoveAbilitaAdminServlet</servlet-name>
    <url-pattern>/InserisciNuoveAbilitaAdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DichiaraAbilitaServlet</display-name>
    <servlet-name>DichiaraAbilitaServlet</servlet-name>
    <servlet-class>fama.servlets.DichiaraAbilitaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DichiaraAbilitaServlet</servlet-name>
    <url-pattern>/DichiaraAbilitaServlet</url-pattern>
  </servlet-mapping>
</web-app>